# -----------------------------
# Node.js
# -----------------------------
node_modules/
FRONTEND_1/node_modules/

# Next.js
.next/
FRONTEND_1/.next/
out/

# Environment Variables
.env
.env.local
.env.*
FRONTEND_1/.env.local

# Python
venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/

# Uploads (optional if you don't want receipt images in Git)
uploads/
BACKEND_1/uploads/

# IDE
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Tesseract installation
tessaract_installed/

# Large files
Demo_Video.mp4
kagle images/