Flask
Flask-JWT-Extended
Flask-Limiter
Flask-Login
Flask-Mail
APScheduler
Werkzeug
pandas
pymongo
python-dotenv
pytesseract
Pillow
scikit-learn
seaborn
statsmodels
numpy
plotly
joblib
Flask-Cors
matplotlib

